@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(242, 242, 242);
    background-image: linear-gradient(
      180.4deg,
      rgba(188, 120, 236, 1) -2.2%,
      rgba(29, 133, 163, 1) 83.5%
    );
  }
}
